@model List<DT191G___Moment2.Models.CatModel>
@{
    ViewData["Title"] = "Våra katter";
}

<h1>Våra katter</h1>
<p class="center">Dessa katter finns just nu på katthemmet:</p>

<article>
    <!-- loopar igenom model-->
    @foreach(var cat in Model)
    {
        <div>
        <h2>@cat.Name</h2>
        <i>@cat.Breed</i>
        <p>@cat.Name är @cat.Age år. <br />
        Tillgänglig för adoption? @cat.Available. <br />
        Vaccinerad? @cat.CatVaccinated.
        
        </p></div>
    }
</article>

@Html.Partial("_Images")